.infoboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  height: 100%;
  margin: 0;
  background-color: white;
  color: #7f8080;
  font-family: system-ui; /* Change font-family */
  border-left: 1px solid #e5e4e5; /* Adjust border style */
  padding: 10px; /* Add padding for better visual */

  .progressBar {
    height: 10px;
    transition: width 0.5s ease; /* Add transition effect */
    margin-top: 10px;

    &.progressLevel {
      &.low {
        background-color: #4caf50; // Green for low level
      }

      &.medium {
        background-color: #ffc107; // Yellow for Medium level
      }

      &.high {
        background-color: #ff5722; // Orange for High level
      }
    }
  }
  .score {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 15px;
    color: #333;
    margin-top: 140px;
  }
  .level {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 15px;
    color: #333;
    margin-top: 40px;
  }

  .scoreLabel .levelLabel {
    margin-right: 5px;
  }

  .scoreValue,
  .levelValue {
    font-weight: bold;
  }

  .low {
    color: #4caf50; // Green for low level
  }

  .medium {
    color: #ffc107; // Yellow for Medium level
  }

  .high {
    color: #ff5722; // Orange for High level
  }
}
