.dashboard {
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.calendar {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.infoBoard {
  width: 20%;
}
