@import "../../global.scss";

.form-container {
  // max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #90b4d0; /* Light blue background color */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;

  h1 {
    text-align: center;
    color: #333;
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 10px;
      font-size: 14px;
      color: #555;

      input,
      select,
      button {
        padding: 8px;
        margin-top: 4px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
      }

      input[type="checkbox"] {
        margin-top: 0;
      }

      input[type="date"],
      input[type="time"],
      input[type="number"] {
        width: 100%;
      }

      select {
        width: 100%;
      }

      button {
        background-color: $primary-blue; /* Blue button color */
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s;
        &:hover {
          background-color: #2980b9; /* Darker blue on hover */
        }
      }
    }

    div {
      margin-top: 10px;
      padding: 10px;
      background-color: #ecf0f1; /* Light gray background for repetition details */
      border-radius: 4px;

      label {
        display: block;
        margin-bottom: 8px;
      }
    }
  }
}
