.weekbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
  width: 100%;
  background-color: #2b67f4;
  border-top: solid black 1px;
  color: white;
  margin: 0;
  padding: 0;
  align-items: center;
}

.weektext {
  font-family: "system-ui";
}
.arrow {
  color: white;
}
