@import "../../global.scss";

.courseEventsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  .eventListContainer {
    width: 60%;
  }

  .addEventContainer {
    width: 35%;
  }
}
