.profilemenubutton {
  display: flex;
  height: 40px;
  width: 90%;
  align-self: center;
  align-items: center;
  border-style: none;
  background: linear-gradient(to bottom, rgb(1, 6, 28), #082042);
  margin-top: 10px;
  border-radius: 5px;
  margin-bottom: 50px;
  color: white;
}

.profilemenubutton:hover {
  background-color: #2b67f4;
  transition: 0.2s;
  color: white;
}

.nametext {
  margin-left: 10px;
  font-family: "system-ui";
}
