.eventList {
  display: flex;
  width: 100%;
  height: 70%;
  flex: auto;
  color: #0e0d0d;
  flex-direction: row;
  justify-content: space-around;
}

.dayCards {
  // border-bottom: 0.5px solid #01040e;
  font-family: system-ui;
  font-weight: 200;
  font-size: 20px;
  // background-color: #2b67f4;
  color: #2b67f4;
}

.daylist {
  display: flex;
  flex-direction: column;
}

.eventscroll {
  overflow: auto;
  margin: 0px;
  padding: 0px;
}
.eventscroll::-webkit-scrollbar {
  display: none;
}
